# Common
.DS_Store
.env
.env.*
*.log

# Java / Spring
backend/build/
backend/.gradle/
backend/out/

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/

# IDE
.idea/
.vscode/